<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
       th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body>
    <h1>Home Page</h1> 
    <section>
		<div class="backimg")>
             <div class= "text-black text-center")>
              <h1>Notify - Save Notes</h1>
              <p><strong>Start Collecting your Notes in very smarter way .We provied very difficult and smarter way of handling Notes</strong></p> 
              <a th:href="@{/login}" class="btn bg-primary text-white">Get Start</a>
        </div> 
	</section>
	
   
</body>
</html>